/*written by Ben D*/

::selection { color: rgb(119, 86, 151); }


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        rgb(30, 31, 37),
        rgb(30, 31, 37),
        rebeccapurple,
        rebeccapurple,
        rebeccapurple,
        rgb(30, 31, 37),
        rgb(30, 31, 37)
    );
    border-radius: 20px;
}


:root {
    display: grid;
    place-items: center;
    background-color: rgb(30, 31, 37);
}



/* abgerundete ecken */
* { 
    border-radius: 20px; 
}


footer { border-radius: 0px; }


/*hier kommen die all elemente hin, um die länge etc zu stylen*/
.all {
    background-color: white;
    width:1020px;
    height: 3400px;
}


.all_about_page {    
    background-color: white;
    width:1020px;
    height: 1200px;
}


.all_datenschutz {
    background-color: white;
    width:1020px;
    height: 1200px;
}


.all_bildrechte {
    background-color: white;
    width:1020px;
    height: 1050px;
}


.all_impressum {
    background-color: white;
    width:1020px;
    height: 1200px;
}


.all_FaQ {    
    background-color: white;
    width:1020px;
    height: 1300px;
}


.all_solar {
    background-color: white;
    width:1020px;
    height: 2250px;
}


.all_windkraft {
    background-color: white;
    width:1020px;
    height: 2300px;
}


.all_erdwärme {
    background-color: white;
    width:1020px;
    height: 2000px;
}


.all_wasserkraft {
    background-color: white;
    width:1020px;
    height: 2200px;
}


.all_biogas {
    background-color: white;
    width:1020px;
    height: 2200px;
}


.all_moor {
    background-color: white;
    width:1020px;
    height: 1800px;
}

.all_zeitung {
    background-color: white;
    width:1020px;
    height: 1450px;
}


.all_demo {
    background-color: white;
    width:1020px;
    height: 1900px;
}


.all_artikel {
    background-color: white;
    width:1020px;
    height: 1700px;
}


.all_artikel2 {
    background-color: white;
    width:1020px;
    height: 1500px;
}


.all_abstimmung {
    background-color: white;
    width:1020px;
    height: 2200px;
}


.all_404 {
    background-color: white;
    width:1020px;
    height: 1200px;
}


/* Center the loader */

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rebeccapurple;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
  /* Add animation to "page content" */
.all {
    position: relative;
    -webkit-animation-name: all;
    -webkit-animation-duration: 1s;
    animation-name: all;
    animation-duration: 1s
}
  
@-webkit-keyframes all {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes all { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
  
#all {
    display: none;
}




/* switch darkmode button */
.btn-toggle {
    position: fixed;
    font-family: Arial;
    background-color: rebeccapurple;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    right: +10px;
    bottom: +20px
}



/*überschrift etc*/
.überschrift {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 80px;
    text-align: center;
    padding-top: 40px;
    background-color: white ;
    margin-top: 0px;
    margin-bottom: 0px;
}


.freiundunab {
    text-align: center;
    font-family: 'Monsieur La Doulaise', cursive;
    font-weight: bold; 
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 0px;
}


/* Menu bar für mobile */
.menu,
.mobile-nav {
    display: none;
}


/* ab hier is für das Dropdown nav element*/
.center_shit {
    display: grid;
    place-items: center;
}


.navbar {
    overflow: hidden;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium';
}
 

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}


.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 0px 16px;
    background-color: inherit;
    font-family: inherit;
}


.navbar a:hover, .dropdown:hover .dropbtn {
    color: rebeccapurple; 
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
 

.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}
/*dropdown ende*/



/*body shit*/
.sub_header {
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    text-align: left;
    margin-left: 80px;
    margin-top: 60px;
    margin-bottom: 20px;
}


.foto {
    padding-left: 80px;
    padding-right: 80px;
    width: 868px; 
    height: 428px;
}


.artkl{
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
}
.artkl::first-letter{ font-size: xx-large; color: rebeccapurple; }


a { color: rebeccapurple; }


a:hover { color: rebeccapurple;  }



/*footer stuff*/
footer {
    background-color: #272424;
}


.button {
    font-family: Arial;
    background-color: rebeccapurple;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
}


.button_footer {
    display: grid;
    place-items: center;
    cursor: pointer;
}


.footer_etc {
    float: left;
    font-size: 16px;
    color: black;
    padding: 0px 16px;
    text-decoration: none;
}



/*BEGINN STYLING VON ABOUT.HTML*/
.aboutus {
    font-family: 'Great Vibes', cursive; ;
    text-align: center; 
    font-size: 60px;
    margin-top: 80px;
    margin-bottom: 0px;
}


.link_schule {
    font-family: 'Great Vibes', cursive; ;
    text-align: center; 
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 0px;
}

#link {
    text-align: center;
    font-size: 25px;
    font-family:  'Mulish', sans-serif;
    margin-top: 30px ;
}

.about-foto {
    width:480px;  
    height: 318px; 
    float:right; 
    margin:10px; 
    border-radius: 0px;
}



/*BEGINN STYLING VON DATENSCHUTZ.HTML*/
.p_datenschutz {
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    margin-bottom: 15px;
}



/*BEGINN STYLING VON BILDRECHTE.HTML*/
.bildrechte_h2 {
    font-family: 'Great Vibes', cursive; ;
    text-align: center; 
    font-size: 60px;
    margin-top: 80px;
    margin-bottom: 0px;
}


.vielen_dank {
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
    margin-top: 40px;
}


.btn_down {
    margin-top: 130px;
    margin-bottom: 150px;
    display: block;
    background-color: rgb(24, 23, 23);
    color: rgb(102, 51, 153);
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial;
}
.btn_down:hover {background-color: rgb(34, 33, 33);}



/* BEGINN STYLING FAQ.HTML */
.FaQ {
    font-family: 'Great Vibes', cursive; 
    text-align: center; 
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 0px;
}

.FaQ_Fragen {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    margin-top:60px;
}

.FaQ_Anwort {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}



/* BEGINN STYLING VON IMPRESSUM */
.content_imp {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-left: 140px;
}


.content_imp_last {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-left: 140px;
    margin-bottom: 300px;
}



/* BEGINN MIT KLASSEN / STYLING VON ENERGIEERZEUGERN (WIND; SOLAR ETC) */
.img_energieer {
    border-radius: 0px;
    margin-top: 20px ;
    padding-left: 80px;
    padding-right: 80px;
}


.überschr_energieer {
    font-family: 'Mulish', sans-serif;
    font-size: 45px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0px;
}


.kurz_erklärung {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    margin-bottom: 25px;
}


.unter_überschr {
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Mulish', sans-serif;   
    font-size: 18px;
    line-height: normal;
}


.fragen_vorher_solar {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Mulish', sans-serif;   
    font-size: 20px;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 10px;
}



.interview {
    text-align: left;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Mulish', sans-serif;   
    font-size: 18px;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 50px;
}
.interview::first-letter{ font-size: xx-large; color: rebeccapurple; }



/* PRO - CONTRA TEXT  */
.pro_contra {
    margin-left: 145px;
}


.pro_contra_text {
    text-align: left;
    margin-left: 180px;
    font-family: 'Mulish', sans-serif;  
    font-size: 18px;
    margin-right: 180px;
}



/* BEGINN STYLING PROTESTE */
.protest_text {
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom:40px
}


.btn_down_moor {
    margin-top: 70px;
    display: block;
    background-color: rgb(24, 23, 23);
    color: rgb(102, 51, 153);
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial;
}
.btn_down_moor:hover {background-color: rgb(34, 33, 33);}


.btn_down_moor_last {
    margin-top: 70px;
    display: block;
    background-color: rgb(24, 23, 23);
    color: rgb(102, 51, 153);
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial;
    margin-bottom: 120px;
    font-weight: bold;
}



/* BEGINN STYLING VON ZEITUNGEN */
.zitat {
    margin-top:40px;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Mulish', sans-serif;   
    font-size: 18px;
    line-height: normal;
}


.foto-zeitung {
    border-radius: 0px;
    margin-top: 30px;
    margin-bottom: 60px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: 50%; 
}




/* BEGINN STYLING VON ARTIKELN */
.überschr-artkl {
    font-family: 'Mulish', sans-serif;
    font-size: 45px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 45px;
}


.link-google-formular {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    padding-left: 80px;
    font-weight: bold;
}



/* 404 style */
.head-404 {
    margin-top: 70px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 80px;
    margin-bottom: 0px;
}


.sad-404 {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 100px;
    margin-top: 20px
}





/* MEDIA QUERIES; MUSS IMMER UNTEN STEHEN */
/*@media (max-width: 860px) {

    .überschrift {
        font-family: 'Monsieur La Doulaise', cursive;
        font-size: 110px;
        text-align: center;
        padding-top: 80px;
        background-color: rgb(20, 20, 20) ;
        color: blue;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .freiundunab {
        text-align: center;
        font-family: 'Monsieur La Doulaise', cursive;
        font-weight: bold; 
        color: white;
        font-size: 50px;
        margin-bottom: 40px;
        margin-top: 0px;
    }


     ab hier is für das Dropdown nav element
    .center_shit {
       display: none;
    }
}*/




@media (max-width: 480px) {
    /* runde ecken und margin weg (sieht besser aus) */
    * { border-radius: 0; }
    body { margin: 0; }



    .all {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_about_page {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_datenschutz {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_bildrechte {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_impressum {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_FaQ {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_artikel {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_artikel2 {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_solar {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_windkraft {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_erdwärme {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_wasserkraft {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_biogas {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_zeitung {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_moor {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_demo {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .all_abstimmung {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }


    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 120px;
        height: 120px;
        margin: -76px 0 0 -76px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid rebeccapurple;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    
    /* Add animation to "page content" */
    .all {
        position: relative;
        -webkit-animation-name: all;
        -webkit-animation-duration: 1s;
        animation-name: all;
        animation-duration: 1s
    }
    
    @-webkit-keyframes all {
        from { bottom:-100px; opacity:0 } 
        to { bottom:0px; opacity:1 }
    }
    
    @keyframes all { 
        from{ bottom:-100px; opacity:0 } 
        to{ bottom:0; opacity:1 }
    }
    
    #all {
        display: none;
    }



    /* darkmode btn */
    .btn-toggle {
        position: static;
        font-family: Arial;
        background-color: rebeccapurple;
        border: none;
        color: black;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 12px;
        font-weight: bold;
        cursor: pointer;
        right: 0px;
        bottom: 0px;
        
    }

    

    .überschrift {
        font-family: 'Monsieur La Doulaise', cursive;
        font-size: 75px;
        text-align: center;
        padding-top: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 80px;
    }


    .freiundunab {
        text-align: center;
        font-weight: bold;
        font-family: 'Monsieur La Doulaise', cursive; 
        font-size: 25px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    /* menu bar wieder sehen */
    .menu {
        display: block;
    }
    
    
    .nebeneinander {
        display:flex; 
        justify-content:space-between;
    }


    /* Style navbar */
    /* ab hier is für das Dropdown nav element*/
    .center_shit {
        display: grid;
        place-items: center;
    }


    .navbar {
        overflow: hidden;
        background-color: transparent;
        font-family: 'Franklin Gothic Medium';
    }
    

    .navbar a {
        float: left;
        font-size: 24px;
        color: black;
        text-align: center;
        padding: 0px 16px;
        text-decoration: none;
    }


    .dropdown {
        float: left;
        overflow: hidden;
    }


    .dropdown .dropbtn {
        font-size: 24px;  
        border: none;
        outline: none;
        color: black;
        padding: 0px 16px;
        background-color: inherit;
        font-family: inherit;
    }


    .navbar a:hover, .dropdown:hover .dropbtn {
        color: rebeccapurple; 
    }


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 20px; 
    }
    
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    

    .dropdown-content a:hover {
        background-color: #ddd;
    }


    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* damit normale navbar nicht sichtbar ist*/
    .center_shit {
       display: none;
    }


    /* ARTIKEL FOTOS ETC */
    .sub_header {
        font-family: 'Mulish', sans-serif;
        font-size: 40px;
        text-align: left;
        margin-left: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .foto {
        padding-left: 0;
        padding-right: 0;
        width: 100%; 
        height: 100%;
        border-radius: 0;
    }


    .artkl{
        font-family: 'Mulish', sans-serif;
        font-size: 24px;
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }


    /* style about-us */

    .about-foto {
        padding-left: 0;
        padding-right: 0;
        width: 100%; 
        height: 100%;
        border-radius: 0px;
        margin: 0;
    }


    /* datenschutz */
    .p_datenschutz {
        text-align: center;
        font-size: 30px;
        font-family: Arial;
        margin-bottom: 15px;
    }
    
    .foto-datenschutz {
        width: 100%; 
        height: 100%; 
        margin-top: 40px;
    }


    /* impressum */
    .content_imp {
        text-align: left;
        font-family: 'Roboto', sans-serif;
        padding-left: 15px;
    }
    
    
    .content_imp_last {
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        padding-left: 15px;
        margin-bottom: 50px;
        
    }


    /* styling von artikel der index.html seite */
    .interview {
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Mulish', sans-serif;   
        font-size: 24px;
        line-height: normal;
        margin-top: 50px;
        margin-bottom: 50px;
    }


    .überschr-artkl {
        font-family: 'Mulish', sans-serif;
        font-size: 40px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 45px;
    }


    .link-google-formular {
        font-family: 'Mulish', sans-serif;
        font-size: 20px;
        padding-left: 15px;
        font-weight: bold;
    }


    /* STYLING ENERGIEERZEUGERN */
    .img_energieer {
        border-radius: 0px;
        margin-top: 20px ;
        padding-left: 0;
        padding-right: 0;
        width: 100%; 
        height: 100%;
    }
    
    
    .überschr_energieer {
        font-family: 'Mulish', sans-serif;
        font-size: 50px;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 0px;
    }
    
    
    .kurz_erklärung {
        text-align: center;
        font-family: 'Mulish', sans-serif;
        font-size: 34px;
        margin-bottom: 25px;
    }
    
    
    .unter_überschr {
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Mulish', sans-serif;   
        font-size: 27px;
        line-height: normal;
    }
    
    
    .fragen_vorher_solar {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Mulish', sans-serif;   
        font-size: 26px;
        line-height: normal;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    
    
    .interview {
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Mulish', sans-serif;   
        font-size: 24px;
        line-height: normal;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .interview::first-letter{ font-size: xx-large; color: rebeccapurple; }
    

    .pro_contra {
        margin-left: 15px;
    }
    
    
    .pro_contra_text {
        text-align: left;
        margin-left: 18px;
        font-family: 'Mulish', sans-serif;  
        font-size: 24px;
        margin-right: 18px;
    }
    


    /* STYLE ZEITUNGEN */
    .zitat {
        margin-top:40px;
        text-align: center;
        padding-left: 80px;
        padding-right: 80px;
        font-family: 'Mulish', sans-serif;   
        font-size: 24px;
        line-height: normal;
    }
    
    
    .foto-zeitung {
        border-radius: 0px;
        margin-top: 30px;
        margin-bottom: 60px;
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        width: 110%; 
    }
    


    /* PROTESTE STYLING  */
    .protest_text {
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Mulish', sans-serif;
        font-size: 24px;
        margin-top: 40px;
        margin-bottom:40px
    }
    
    

}
